*{
padding: 0px;
margin: 0;
}


:root {
    --vinho: #a32950;
    --azul: #102e4e;
    --amarelo: #fdc18d;
    --branco: #fffbf7;
    --bege: #b59e8b;
    --fundo: #f2ece7;
  }
a{
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;    
    color: white;
}

input{
    width: 100%;
    height: 25%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
    width: 100%;
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: row;
    background-color: var(--vinho);
    color: var(--branco);
    justify-content: space-between ;
    width: 97%;
    align-items: center;
    
    padding-right: 30px;
    padding-left: 30px;
    height: fit-content;
    position: fixed;
    top :0;
}

header ::content{
    width: fit-content;
}

body{
    background-color: #F2ECE7;
    display: flex;
    justify-content:center ;
    flex-direction: column;
    margin-bottom: 2%;
    background-repeat: no-repeat;
    background-size: 100%;
}

nav{
    display: flex;
    gap: 50px;
}

.logo{
    width: 100px;
    height: 80px;
    padding: 0px;
}

.abas{
    font-size: x-small;
    gap: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formPesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.titulo{
    padding-bottom: 3%;
    padding-top: 4%;
    display: flex;
    width: auto;
    padding-left: 1%;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 30%;
}

.setaEsquerda{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #A6244D;
    cursor: pointer;
}

.setaEsquerda img{
    width: 30px;
    height: 30px;
}

.setaDireita{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #A6244D;
    cursor: pointer;
}

.setaDireita img{
    width: 30px;
    height: 30px;
}

.btnForm{
    gap: 50px;
    display: flex;
}

.btnRosa{
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--vinho);
    color:var(--branco);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
    height: 10%;
    overflow: hidden;
}

.leitoresEncontrados{
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.leitor{
    width: 30%;
    border-radius: 100px;
    border: 2px solid #A9A9A9;
}

.leitorEncontrado{
    width: 15%;
    background-color: white;
    font-size: small;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 6%;
    margin-top: 3%;
    border: 2px solid #A9A9A9;
    padding: 10px;
    border-radius: 5px;
}

.infoLeitor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.btnAzul{
    border-radius: 10px;
    background-color: #102E4E;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.resultadoPesquisa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.areaLivro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: 2px solid #A39B91;
    width: 170px;
    height: 392px;
    text-wrap: auto;
    background-color:#faf6f0 ;
    border-radius: 10px;
}

.capaLivro{
 height: 222px;
 width: 150px;
}

.inputForm{
    width: 1000px;
    height: 25%;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #A39B91;
    
}

.filtrosEmprestimos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.selectQuaseRosa{
    padding: 10px;
    margin-top:5vh ;
    border-radius:5px;
    font-size: medium;
    border-radius: 15px;
    background-color: #F2ECE7;
    border-color: #A6244D;
    color: black;
    margin-bottom: 5vh ;
}

.selectQuaseRosa option{
    border-radius: 15px;
    border: 0px;
}

.selecionarCadastro{
    width: auto;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: var(--vinho);
    transition: 1.s;
    border-radius: 10px;
    color: white;
  }
  
  .dropdown-content {
    background-color: var(--vinho);
    /* display: none; */
    position: absolute;
    min-width: auto;
    overflow: hidden;
    z-index: 1;
    height: 0;
    transition: 0.5s;
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: var(--branco);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-right: 10px;
  }
  
  .show {
    height: 285px;
}

.areaPesquisa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
    gap: 1%;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    text-wrap: nowrap;
}

.divInput{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 25%;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #A39B91;
    border-radius: 25px;
    padding: 10px;
    background-color: white;
}

.lupa{
    height: 20px;
    width: auto;
}

.Cadastros{
    font-size: medium;
    border-radius: 15px;
    background-color: #A6244D;
    border-color: #A6244D;
    color: white;
}

.Cadastros option{
    border-radius: 15px;
    border: 0px;
}

.areaDoacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

}
.doacoesTitulo{
    width: 141vh;
    margin-left: 2%;
    margin-top: 2%;
}

.areaEventos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.eventosTitulo{
    width: 141vh;
    margin-left: 2%;
    margin-top: 2%;
}

.areaEvento{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 25px;
    border: 2px solid #A39B91;
    width: 170px;
    height: auto;
    text-wrap: auto;
}

.areaEvento h2{
    color: #A6244D;
    font-size: large;
}

.areaEvento h3{
    font-size: medium;
}

.resultadoEventos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.btnNovoEvento{
    display: flex;
    align-items:center ;
    justify-content: center;
}

body {
    overflow-x: hidden; 
    display: flex;
    margin-top: 84px;
    flex-direction: column;
  }
  
  .linha{
    height: 1.5px;
    background-color: black;
  }
  
  .capaLivroEmprestado{
    height: 60vh;
  }
  
  .areaLivroEmprestado{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .livroEmprestado{
    display: flex;
    gap: 5vh;
    width: 50%;
  }
  
  .infoLivro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
  }
  
  .areaBtn{
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 50%;
  }
  
  .btnEmprestimo{
    width: fit-content;
  }
  
  h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }
  
  p{
    font-size: 0.9rem;
  }
  
  ::placeholder{
    color: #A39B91;
    font-weight: 700;
}
p{
    color: #A39B91;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.areaAvancada{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    margin: 2%;
    margin-bottom: 0;
    
}

.formAvancado{
    border: 2px solid #A39B91;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 1%;
    gap: 20px;
    width: 32%;
    border-radius:15px ;
}

.pesquisaAvancada{
    color: #102E4E;
    border-bottom: 2px solid  #102E4E;
    width: 100%;
}

.areaTituloLivro{
    width: 100%;
}

.tituloLivro{
    width: 100%;
}

.areaAutorLivro{
    width: 100%;
}

.autorLivro{
    width: 100%;
}

.tituloForm{
    color:  #102E4E;
    text-wrap: nowrap;
}

.formDeLado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
}

.formDeLado1{
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 100%;
}

.areaBtn{
    display: flex;
    justify-content: center;
}

.areaResultadoPesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 0%;
}
.areaInput{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
}

.inputForm{
    width: 100%;
    height: 25%;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #A39B91;
    outline: none;
    width: 100%;
    text-decoration: none;
}

:root {
    --vinho: #a32950;
    --azul: #102e4e;
    --amarelo: #fdc18d;
    --branco: #fffbf7;
    --bege: #b59e8b;
    --fundo: #f2ece7;
    --cinza: #857D72;
  }

.exibirLivros {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    gap: 20px;
  }
  
  .livro {
    border-radius: 5px;
    padding: 10px;
    width: 163px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid grey 1px;
  }
  
  .livro img {
    width: 140px;
    height: 210px;
    object-fit: cover;
    border-radius: 3px;
  }
  
  .livro h2 {
    font-size: 16px;
    margin: 0;
    color: #333;
  }
  
  .livro p {
    font-size: 14px;
    color: #666;
    margin: 0;
  }
  
  .livro button {
    background-color: var(--vinho);
    color: var(--branco);
    border: none;
    padding: 8px 14px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: auto;
  }

  .seta {
    background-color: var(--vinho);
    border: none;
    border-radius: 8px;
    width: 38px;
    height: 38px;
  }

  .areaCadastro{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    margin: 2%;
    margin-bottom: 0;
    height: 70vh;
}
  
  .info{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    gap: 20px;
  }
  
  p{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .evento{
    width: 100vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
    gap: 30px;
  }
  
  .titulos{
    gap: 20px;
  }
  
  .aceitar{
    background-color: #F2ECE7;
    border-color: #A6244D;
    color: #A6244D;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
  }
  
  .recusar{
    background-color: #A6244D;
    color: #F2ECE7;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
  }
  
  .livroDoado{
    height: 360px;
    width: 262px;
  }
  
  .areaLivroDoado{
    display: flex;
    justify-content: center;
  }
  
  .doacao{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    border-style: solid;
    border-color: #B59E8B;
    border-radius: 5px;
    border-width: 1px;
    padding: 20px;
  }
  
  .infoLivroDoado{
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 40px
  }
  
  .linha{
    height: 1.5px;
    background-color: black;
  }
  
  .areaCardsDoacao{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .nomeDoador{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .cardDoacao{
    width: 342px;
    display: flex;
    gap: 15px;
    border: 1px;
    border-style: solid;
    border-color: #B59E8B;
    border-radius: 5px;
    padding: 10px;
  }
  
  .infoCard{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-size: 0.7rem;
    gap: 10px;
  }
  
  .livroDoadoCard{
    width: 75px;
    height: 111px;
  }
  
  .verDoacao{
    background-color: #102E4E;
    color: #F2ECE7;
    border: none;
    border-radius: 5px;
    width: 78px;
    font-size: 0.7rem;
    padding: 5px;
  }
  
  
  
  
  
  
  
  