@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
}


a {
  color: var(--branco);
  text-decoration: none;
}

label, input {
 font-family: "Inter"; 
}


:root {
  --vinho: #a32950;
  --azul: #102e4e;
  --amarelo: #fdc18d;
  --branco: #fffbf7;
  --bege: #b59e8b;
  --fundo: #f2ece7;
  --cinza: #857d72;
}

body {
  background-color: var(--fundo);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

main {
  display: flex;
}

.perfil h1 {
  margin-left: 0;
  margin-right: 0;
}

.perfil button {
  background-color: var(--vinho);
  color: var(--branco);
  border: none;
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
}

.perfil h2 {
  padding: 0 37px;
}

.perfil {
  background-color: var(--azul);
  color: var(--branco);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  height: calc(100vh - 84px);
  border-radius: 0;
  gap: 30px;
  text-wrap: nowrap;
}

.perfil h1 {
  margin: 0;
}

.perfil a {
  display: flex;
  justify-content: center;
  width: 80%;
  border-bottom: 2px solid var(--branco);
}
.perfil img {
  height: 100px;
  width: 100px;
  border-radius: 200px;
}

.areaPerfil form {
  border: 1px solid var(--cinza);
  color: var(--cinza);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  gap: 30px;
  padding: 30px;
  border-radius: 15px;
}

.areaPerfil input {
  color: var(--cinza);
}

.areaPerfil select {
  color: var(--cinza)
}

.areaPerfil select {
  width: 50vw;
  border: none;
  border-radius: 10px;
  height: 30px;
}

.areaPerfil input {
  width: 50vw;
  border: none;
  border-radius: 10px;
  height: 30px;
}

.areaPerfil hr {
  background-color: var(--cinza);
  width: 50vw;
}

.areaPerfil img {
  height: 100px;
  width: 100px;
  border-radius: 200px;
}

.areaPerfil h1 {
  margin: 0;
}

.areaPerfil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.label-input {
  display: flex;
  flex-direction: column;
}

.areaPerfil button {
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--vinho);
  color: var(--branco);
  border: none;
  font-weight: 100;
  border-radius: 10px;
  gap: 10px;
  cursor: pointer;
}

.titulo-areaPerfil {
  width: 50vw;
}

.areaPerfilLivros h1 {
  padding-left: 7vw;
}

.areaPerfilLivros {
  width: 85vw;
  overflow-y: scroll;
  height: calc(100vh - 84px);
}

.areaPerfilLivros button {
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--vinho);
  color: var(--branco);
  border: none;
  font-weight: 100;
  border-radius: 10px;
  gap: 10px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
