@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
}


a {
  color: var(--branco);
  text-decoration: none;
}

h1 {
  font-family: "Kurale";
  margin: 40px;
  font-size: 1.5rem;
}

p,
h2,
h3,
h4 {
  font-family: "Inter";
  font-size: 1rem;
}

label, input {
 font-family: "Inter"; 
}


:root {
  --vinho: #a32950;
  --vinho-hover: #8f2748;
  --azul: #102e4e;
  --azul-hover: #193f68;
  --amarelo: #fdc18d;
  --branco: #fffbf7;
  --bege: #b59e8b;
  --fundo: #faf4ee;
  --cinza: #857d72;
  --gap: 10px;
  --gap-grande: 50px;
  --radius: 10px;
  --border: solid 1px rgba(0, 0, 0, 0.192);
}

body {
  background-color: var(--fundo);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.imagemPerfil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.perfil h1 {
  margin-left: 0;
  margin-right: 0;
}

.perfil button {
  background-color: var(--vinho);
  color: var(--branco);
  border: none;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.perfil h2 {
  cursor: pointer;
}

.perfil {
  background-color: transparent;
  color: var(--branco);
  display: flex;
  justify-content: flex-start;
  padding-top: 20vh;
  padding-left: 5vh;
  flex-direction: column;
  align-items: center;
  width: 22vw;
  height: calc(100vh - 84px);
  border-radius: 0;
  gap: var(--gap);
  text-wrap: nowrap;
}

.perfil h1 {
  margin: 0;
}

.perfil a {
  border-bottom: var(--branco) solid 2px;
  width: 80%;
  text-align: center;
  height: 25px;
}

.perfil a:hover {
  color: var(--amarelo);
  border-bottom: var(--amarelo) solid 2px;
}

.perfil img {
  height: 180px;
  width: 180px;
  border-radius: 200px;
  margin-bottom: 2vh;
}

.areaPerfil form {
  color: var(--cinza);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  gap: 15px;
  padding: 30px;
  border-radius: var(--radius);
}

.areaPerfil select {
  color: var(--cinza)
}

.areaPerfil select {
  width: 50vw;
  border: none;
  border-radius: var(--radius);
  height: 30px;
}

.areaPerfil input {
  color: var(--cinza);
  width: 50vw;
  border: none;
  border-radius: var(--radius);
}

.areaPerfil hr {
  background-color: var(--cinza);
  width: 50vw;
}

.areaPerfil img {
  height: 200px;
  width: 200px;
  border-radius: 300px;
}

.areaPerfil h1 {
  margin: 0;
}

.areaPerfil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw; 
}

.label-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}
.inputArquivo{
  height: fit-content;
  color: var(--branco);
  padding: 5px;
}

.areaPerfil button {
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--vinho);
  color: var(--branco);
  border: none;
  font-weight: 100;
  border-radius: var(--radius);
  gap: 10px;
  cursor: pointer;
}

.titulo-areaPerfil {
  width: 50vw;
}

.areaPerfilLivros {
  width: 85vw;
  overflow-y: scroll;
  height: calc(100vh - 84px);
}

.label-input input{
  padding: 	10px;
  border: solid 1px var(--bege);
}

.botaoPerfil {
  background-color: var(--vinho);
  font-style: none;
  border-radius: 10px;
  padding: 2vh 10vh 2vh 10vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  width: fit-content;
}

.titulo-areaPerfil h1 {
  color: var(--cinza);
}

h1, p {
  color: black;
}

.codigoIdPerfil {
  display: flex;
  flex-direction: row;
  padding-top: 1vh;
  gap: 0.75vh;
}

.gapA {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
  justify-content: center;
  padding: 1vh 0vh 2vh  0vh ;
}

