@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Kurale";
  margin: 40px;
  font-size: 1.5rem;
}

p,
h2,
h3,
h4 {
  font-family: "Inter";
  font-size: 1rem;
}

h1,
p,
h2,
h3,
h4 {
  cursor: default;
}

body h1 {
  text-align: center;
}

:root {
  --vinho: #a32950;
  --azul: #102e4e;
  --amarelo: #fdc18d;
  --branco: #fffbf7;
  --bege: #b59e8b;
  --fundo: #f2ece7;
  --gap: 10px;
  --gap-grande: 50px;
  --radius: 10px;
  --border: solid 1px rgba(0, 0, 0, 0.192);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.btnRosa {
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px 10px 15px;
  background-color: var(--vinho);
  color: var(--branco);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  width: fit-content;
  overflow: hidden;
  gap: var(--gap);
}

.btnRosa span {
  color: var(--branco);
}

/* header */

a {
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: var(--branco);
}

header {
  display: flex;
  flex-direction: row;
  background-color: var(--vinho);
  color: var(--branco);
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-right: 3%;
  padding-left: 3%;
  height: fit-content;
  position: fixed;
  top: 0;
  z-index: 2;
}

.areaPesquisa {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  width: 80%;
  padding-left: 30px;
  padding-right: 30px;
  text-wrap: nowrap;
}

.divInput {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 25%;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid var(--bege);
  border-radius: 25px;
  padding: 10px;
  background-color: var(--branco);
  margin: 10px;
}

.divInput input {
  width: 100%;
  height: 25%;
  padding: 5px;
  border: none;
  outline: none;
  width: 100%;
  text-decoration: none;
  cursor: text;
  background-color: var(--branco);
}

.lupa {
  height: 20px;
  width: auto;
}

.logo {
  width: 80px;
  height: 80px;
  padding: 0px;
}

.abas {
  font-size: x-small;
  gap: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.abas a {
  width: fit-content;
}

/* header */

body {
  background-color: var(--fundo);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#btnCadastro {
  cursor: pointer;
  background-color: var(--azul);
  color: var(--branco);
  border-radius: 10px;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
}
.btnHeader {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.areaPesquisa {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.filtro {
  background-color: white;
  width: 10px;
  height: 10px;
}
.barraPesquisa {
  width: 500px;
  background-color: aliceblue;
  border-radius: 100px;
  padding: 10px;
}

.iconePesquisa {
  width: 5%;
  height: 25%;
}

.textoMeio {
  display: flex;
  justify-content: center;
}

.textoEsquerda {
  margin-top: 2%;
  margin-left: 21%;
}

.textoEsquerda h1{
  width: fit-content;
}

.areaBanner {
  width: 100%;
}
.banner {
  width: 100%;
}

.btnCategorias {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: auto;
  height: 50%;
  padding: 70px;
}

.filtroCategoria {
  padding: 5px;
  font-size: 10px;
  border: 2px solid #000;
  height: auto;
  width: auto;
}

.areaBTNcategorias {
  width: auto;
  display: flex;
  justify-content: left;
  padding-left: 15%;
}

.titulo {
  padding-left: 15%;
}

.DestaquesSemana {
  display: flex;
  flex-direction: row;
}

.tituloCentro {
  display: flex;
  justify-content: center;
  padding: 2%;
}

.tituloEsquerda {
  display: flex;
  margin-left: 15%;
  padding-bottom: 1%;
  padding-top: 1%;
}

/* ---------------------------------------------------- bibliotecas ------------------------------------------------------------------------------------- */

.bibliotecas {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 50px;
  align-items: center;
  flex-direction: row;
}

.biblioteca {
  display: flex;
  width: fit-content;
  flex-direction: column;
  border: none;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.biblioteca img {
  height: 40vh;
  width: 40vw;
  border-radius: var(--radius);
}

.carrosselBiblioteca {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}

.carrosselBiblioteca img {
  height: 100px;
  width: 100px;
  border-radius: var(--radius);
  border: var(--border);
  cursor: pointer;
}

.informacoesBiblioteca {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.informacoesBiblioteca h1,
span {
  color: var(--vinho);
  margin: 0;
}

.informacaoBibliotecaTitulo {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: var(--gap);
}

.mapa img {
  height: 400px;
}

.eventos {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 50px;
  align-items: center;
  flex-direction: row;
}

.calendario {
  width: 20vw;
  height: 20%;
  background-color: var(--azul);
}

.lista {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 200px;
  text-align: left;
  overflow-y: scroll;
  background-color: #102e4e;
}

.lista h1 {
  margin: 0;
}

.item-lista {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--gap);
  border-bottom: var(--border);
  border-top: var(--border);
  padding: 10px;

}

.item-lista img {
  width: 10%;
  height: 10%;
  border-radius: 3;
}

.conteudo-item-lista {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap);
}

.conteudo-item-lista-doador {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap);
}

.conteudo-item-lista-doador img{
  object-fit: cover;
  border-radius: 999999px;
  width: 60px;
  height: 60px;
  padding: 0 ;
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa ---------------------------------------------------*/
#bloqueio {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  color: var(--branco);
  background-color: var(--azul);
  padding: 20px;
  gap: 15px;
  border-radius: 4px;
}

#form-popup {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 20px;
  justify-content: flex-start;
}

#form-popup > p {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

#form-popup > p.areaBotao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#form-popup input,
#form-popup select {
  width: 70%;
  padding: 5px 10px;
  border: none;
  border: 2px solid black;
  outline: none;
}

#btnCancelar {
  display: flex;
  background-color: var(--branco);
  color: var(--vinho);
  border: 1px solid var(--vinho);
  cursor: pointer;
  border-radius: 10px;
  padding: 15px;
}
#btnEntrar {
  display: flex;
  background-color: var(--branco);
  color: var(--vinho);
  border: 1px solid var(--vinho);
  cursor: pointer;
  border-radius: 10px;
  padding: 15px;
}

#btnCadastre {
  display: flex;
  background-color: var(--vinho);
  color: var(--branco);
  border: 1px solid var(--vinho);
  cursor: pointer;
  border-radius: 10px;
  padding: 15px;
}
#btnConfirmar {
  display: flex;
  background-color: var(--vinho);
  color: var(--branco);
  border: 1px solid var(--vinho);
  cursor: pointer;
  border-radius: 10px;
  padding: 15px;
}
.areaInputCadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-items: flex-start;
}

.areaInputCadastro input {
  border-color: 10px solid black;
}

.areaBTNCadastro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#inputEmail {
  gap: 10px;
  border-radius: 5px;
}

#inputSenha {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}
.logo {
  width: 80px;
  height: 80px;
  padding: 0px;
}

.abas {
  font-size: x-small;
  gap: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formPesquisa {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.material-symbols-outlined{
  color: var(--branco);
}

main {
  margin-top: 84px;
  margin-bottom: 20px;
  height: 100%;
  overflow: hidden;
}

.imgbanner {
  background-image: url(../img/banner.png);
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pesquisa {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.categoria {
  background-color: var(--vinho);
  color: var(--branco);
  padding: 10px;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: hidden;
  gap: 5px;
}

.categoria p {
  color: var(--bege);
}

.categoria span {
  overflow: hidden;
  cursor: pointer;
}

.pesquisa a {
  display: flex;
  background-color: var(--vinho);
  color: var(--branco);
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
}

.exibirLivrosMeio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: fit-content;
  margin-top: 0%;
}

.doacaoLivros {
  display: flex;
  gap: 2.5%;
  padding-left: 7.5vw;
}

.doacaoLivros h1 {
  margin-left: 0;
  padding: 0;
}

.doacaoLivros img {
  height: auto;
  width: 21vw;
}

.textoDoar {
  display: flex;
  align-items: end;
}

.textoDoar a {
  border-radius: 10px;
  background-color: var(--vinho);
  padding: 10px;
}
.doacaotexto {
  flex-direction: column;
  display: flex;
  gap: 20px;
  width: 50%;
  padding-left: 15vw;
}

.doacaotexto h1 {
  padding: 0;
  margin: 0;
}

#depois {
  background-color: var(--vinho);
  border: none;
  border-radius: 8px;
  width: 38px;
  height: 38px;
  overflow: hidden;
  color: var(--branco);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#antes {
  background-color: var(--vinho);
  border: none;
  border-radius: 8px;
  width: 38px;
  height: 38px;
  overflow: hidden;
  color: var(--branco);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.areaMapa {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--azul);
}

.mapa {
  background-color: var(--azul);
  width: 90%;
  height: 300px;
  margin-bottom: 20px;
  position: relative;
}

#carregando {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--branco);
  font-family: "Inter";
  border: 5px solid var(--azul);
}
.spinner {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid var(--branco);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: girar 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**/

.biblioteca button {
  background-color: var(--vinho);
  color: var(--branco);
  border: none;
  padding: 8px 14px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: auto;
}
.carrossel-container {
  position: relative;
  overflow: hidden;
  max-width: 55%;
  margin: 0 auto;
  padding: 20px 0;
}

.carrossel {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease;
  gap: 20px;
}

.livro {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: solid grey 1px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  width: fit-content;
  gap: 10px;
  transition: transform 0.3s ease;
  flex-direction: column;
}

p {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.livro:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.livro img {
  width: 140px;
  height: 210px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
}

.livro h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.livro p {
  color: #666;
  font-size: 14px;
}
.livro button {
  background-color: var(--vinho);
  color: var(--branco);
  border: none;
  padding: 8px 14px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: auto;
}
.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: background 0.3s ease;
}

.seta:hover {
  background: var(--vinho);
}

.seta-esquerda {
  left: 10px;
}

.seta-direita {
  right: 10px;
}

/* -------------- Reconsiderações -------------------------------------------------------------------------------*/

.tituloCentro h1 {
  padding: 0;
  margin: 0;
}

.bibliotecasMain {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

h1 {
  padding: 0px;
}

.nmBibLista {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 30px;
  height: fit-content;
}

.nmBibLista h1 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nmBibLista span {
  margin: 0;
  height: 15px;
}

.nmEndereco {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.verMais {
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: var(--vinho);
  color: var(--branco);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
  height: 10%;
  overflow: hidden;
  margin: 10px;
}

.itemLista {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  border-top: 2px #666 solid;
}

.imgBibLista {
  height: 105px;
}

.listaBibliotecas {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 0;
  align-items: center;
  width: fit-content;
  max-height: 700px; /* altura fixa da lista */
  overflow-y: auto;
}

.areaLocal {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
  padding: 30px;
  justify-content: center;
}

.capaLivroGrande {
  height: 65vh;
}

.mainAreaLivro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap);
}

.botaoStatus {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  margin-left: 0;
}

.pagLivro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40vw;
  height: 65vh;
  margin: 0;
}

.sinopse {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  height: 180vh;
  align-items: flex-start;
}

.divinfoLivvro {
  display: flex;
  margin: 0;
  padding: 0;
}

.dadosLivro h1 {
  margin: 0;
}

.dadosLivro {
  display: flex;
  flex-direction: column;
  margin: none;
  padding: 0;
  gap: var(--gap);
  align-items: flex-start;
}

.listaBibliotecasLivro {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 0;
  align-items: center;
  width: fit-content;
  height: 2000px;
  overflow-y: scroll;
}
