header{
    display: flex;
    flex-direction: row;
    background-color: var(--vinho);
    color: white;
    justify-content: space-between ;
    align-items: center;
    padding: 0%;
    padding-right: 30px;
    padding-left: 30px;
    height: 4%;
}

.logo{
    width: 100px;
    height: 80px;
    padding: 0px;
}

.abas{
    font-size: x-small;
    gap: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formPesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
